body{
   display: grid;
   place-items: center;
   height: 90vh;

   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2em;
}

#box {
   height: 500px;
   width: 500px;
   background-color: lightgray;
   border-radius: 20px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#menu {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 20px;
}

.tombolMenu {
   min-width: 55px;
   padding: 13px;
   font-family: Verdana;
   font-size: 20px;
   border-radius: 10px;
}

.tombolMenu:active {
   background-color: black;
   color: white;
}